/.build
*.tar.gz
*.test
*-stamp
/.idea
/.vscode
*.iml
/cover.out
/cover.*.out
/.coverage
/bin
/release
/*.prom
/.metrics.*.*.prom
/.metrics.*.*.prom.unique
/.assets-branch
/.metrics.*.added
/.metrics.*.removed
/tools/src
/vendor

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test binary, built with `go test -c`
*.test

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.bin

# Lambda artifacts
.artifacts

# Local environement variables setup
.envrc

# Generated mock files
mocks/

*_generated.go
gomock_reflect_*.go
