/.build
/postgres_exporter
/postgres_exporter_integration_test
*.tar.gz
*.test
*-stamp
/.idea
/.vscode
*.iml
/cover.out
/cover.*.out
/.coverage
/bin
/release
/*.prom
/.metrics.*.*.prom
/.metrics.*.*.prom.unique
/.assets-branch
/.metrics.*.added
/.metrics.*.removed
/tools/src
